<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuakeMapFast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <QuakeMapFast.Properties.Settings>
            <setting name="Bouyomi_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bouyomi_Voice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bouyomi_Speed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Bouyomi_Tone" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Bouyomi_Volume" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Telop_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window_Size" serializeAs="String">
                <value>640, 360</value>
            </setting>
            <setting name="Window_Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="Save_JSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Save_Image" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackGreenTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </QuakeMapFast.Properties.Settings>
    </userSettings>
</configuration>
